extends ../layout
block head 
    title Admin | Writing

block body
    main
        nav
            a(href='/')= '< Return'
        hr
        div
            h1 Writing
            hr
            a(href='/writing/addstory') Add Story 