<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style.css")
        block head
    body
        block body
    
    if message
        p#message(style='display: none;')= message 
        script.
            alert(document.getElementById('message').innerHTML)
